/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body, input, select, textarea {
  color: #000;
  font-family: 'helvetica', sans-serif;
  font-size: 13px; }

.wrap-main {
  padding-top: 100px; }

.form {
  margin-bottom: 50px; }

.wrap-data {
  padding-left: 192px; }
  .wrap-data .info {
    max-width: 700px;
    position: relative; }
    .wrap-data .info #monto {
      position: absolute;
      right: 153px;
      top: 28px; }
    .wrap-data .info #destinatario {
      left: 120px;
      position: absolute;
      top: 100px; }
    .wrap-data .info #fecha-dia {
      position: absolute;
      right: 320px;
      top: 75px; }
    .wrap-data .info #fecha-mes {
      position: absolute;
      right: 163px;
      top: 75px; }
    .wrap-data .info #fecha-ano {
      position: absolute;
      right: 50px;
      top: 75px; }
    .wrap-data .info #valor {
      left: 130px;
      position: absolute;
      top: 127px; }
    .wrap-data .info img {
      height: auto;
      max-width: 700px;
      width: 100%; }

.form-control[readonly] {
  background: none; }
